<!-- Add code to extend base.html file -->
{%extends 'base.html'%}
<!-- Add code to load static content --> 
{%load static%}

<!-- Begin block content --> 
{% block content%}
<p> ABOUT US</p>
<p> Welcome to EcoInvest, your gateway to sustainable investment opportunities. Our web-based platform harnesses the power of data analytics and machine learning to guide investors toward environmentally responsible choices.
     At EcoInvest, we evaluate crucial sustainability factors, including crop growth, water supply, and renewable energy potential, across diverse regions. 
     By providing data-driven insights, we empower you to make informed investment decisions that not only yield financial returns but also contribute to a greener future. 
     Join us in fostering a sustainable tomorrow, one investment at a time. </p>
{% endblock %}
<!-- End block content -->